.container{
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    text-align: center;
    height: justify;
    background-color: rgb(211, 186, 186);
    width: 500px;

    .hero{
        border-radius: 30%;
        max-width: 120px;
    }

    .lua{
        display: flex;
        flex-direction: row-reverse;
    }

    span{
        display: flex;
        gap: 30px;
        justify-content: center;

        a{
            margin: 0;
    
            img{
                width: 30px;
            }
        }
    }

    a{
        width: fit-content;
        align-self: center;
    }
}

.colorModeContainer{
    position: relative;
}

.colorMode{
    position: absolute;
    right: 0;
    width: 25px;
}

.teste{
    background-color: black;
}

.colorMode:hover{
    cursor: pointer;
}

/* .description{
    max-width: 50ch;
} */

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

@media (width >= 800px) {
    .container {
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-evenly;
  
      }
    }
  
  @media (width >= 1400px) {
    .container {
      .hero {
        width: 700px;
      }
    }
  }